<%- include('partials/header', { title: 'Список книг' }) %>

    <h1>Список книг</h1>
    <ul class="mb-3">
        <% books.forEach(book=> { %>
            <li class="d-flex justify-content-between align-items-center">
                <a href="/books/<%= book.id %>">
                    <%= book.title %>
                </a>
                <div>
                    <a href="/books/update/<%= book.id %>" class="btn btn-sm btn-primary me-2">Редактировать</a>
                    <button class="btn btn-sm btn-danger" onclick="deleteBook('<%= book.id %>')">Удалить</button>
                </div>
            </li>
            <% }) %>
    </ul>

    <a class="btn btn-success" href="/books/create/new">Добавить новую книгу</a>

    </div>
    <!-- Toast -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toastContainer" class="toast align-items-center text-bg-success border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="toastMessage">
                    Книга успешно удалена!
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script>
        async function deleteBook(id) {
            if (!confirm("Удалить книгу?")) return;

            try {
                const res = await fetch(`/books/${id}`, { method: "DELETE" });

                if (res.ok) {
                    showToast("Книга успешно удалена!", "success");
                    setTimeout(() => location.reload(), 1200);
                } else {
                    showToast("Ошибка при удалении книги", "danger");
                }
            } catch (e) {
                showToast("Ошибка сети", "danger");
            }
        }

        function showToast(message, type = "success") {
            const toastEl = document.getElementById("toastContainer");
            const toastMessage = document.getElementById("toastMessage");

            toastEl.className = `toast align-items-center text-bg-${type} border-0`;

            toastMessage.textContent = message;

            const toast = new bootstrap.Toast(toastEl);
            toast.show();
        }
    </script>


    </body>

    </html>